input {
  display: block;
  margin: 3px 3px 10px 5px;
}

textarea#json {
    margin: 3px;
    height: 20em;
    width: 95%;
}

form {
    margin: 3px;
    padding: 10px;
}

div.module {
    margin: 5px;
    border: solid grey 1px;
    padding: 5px 10px;
    background-color: aliceblue;
}

div.module.thin {
    width: 30%;
    display: inline-table;
}

div.module h4 {
    margin: 5px;
    color: darkolivegreen;
}

table {
    background: white;
    padding: 3px;
    border-radius: 3px;
    border-collapse: collapse;
}

table td {
    padding: 5px;
}

table>tr:nth-child(even) {background: #eff5f7}
table>tr:nth-child(odd) {background: #ffffff}

label {
  color: grey;
  font-size: small;
}
